{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add Member</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{%static 'user_profile.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" href="{%url 'index'%}"><img src="/static/images/logo.png"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
             <li class="nav-item active">
               <a class="nav-link" href="{% url 'index'%}"><strong>Home</strong> </a>
             </li>
             {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'user_profile'%}"><strong>Profile</strong></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link login-register" href="{% url 'logout'%}"><strong>Logout</strong> </a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link login-register" href="{% url 'login'%}"><strong>Login</strong> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link login-register" href="{%url 'register'%}"><strong>Register</strong></a>
          </li>
          {%endif%}
           
           </ul>
         </div>
       </nav>
<section class="family-head">
    <h2>{{thatfamily.full_name | title}} family Details</h2>
    <div class="card card-head">
        <div class="card-header">
            <i class="fab fa-html5"></i>{{thatfamily.full_name | title}}
        </div>
        <div class="card-body">
            <strong>Date of Birth: </strong><p>{{thatfamily.birthday | title}}</p>
            <strong>Family Code: </strong><p>{{thatfamily.family_code | title}}</p>
            <strong>Ritwik: </strong><p>{{thatfamily.ritwik | title}}</p>
            <strong>Phone Number: </strong><p>{{thatfamily.phone_number | title}}</p>
            <strong>Email: </strong><p>{{thatfamily.email                                         }}</p>
            <strong>Address: </strong><p>{{thatfamily.address | title}}</p>
            <strong>Date of Initation: </strong><p>{{thatfamily.date_of_init | title}}</p>

        </div>
        <div class="card-footer">
        
        </div>
    </div>

</section>
<hr>
<div class="add-member">    
    <h2>Family Members</h2>
</div>

    <section class="family-members">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-12 col-lg-8">
                <div class="lista">
                <ul>
                    {%for member in thatfamily.familymembers_set.all%}
                    <li type="none">
                        <div class="card card-html">
                            <div class="card-header">
                                <i class="fab fa-html5"></i>{{member.full_name | title}}
                            </div>
                            <div class="card-body">
                                <strong>Age: </strong><p>{{member.age | title}}</p>
                                <strong>Phone Number: </strong><p>{{member.phone_number | title}}</p>
                                <strong>Email: </strong><p>{{member.email}}</p>
                                <strong>Relation: </strong><p>{{member.relationship | title}}</p>
                                <strong>Address: </strong><p>{{member.address | title}}</p>
                                <strong>Taken Initiation: </strong><p>{{member.initiation | title}}</p>
                                <!-- <strong>Date fo: </strong><p>{{member.initiation | title}}</p> -->
                            </div>
                            <div class="card-footer">
                            
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>